<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aman.firstapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application

        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StudentRegistration"
            android:parentActivityName=".StudentMain"
            android:screenOrientation="portrait"/>
        <activity android:name=".StudentLogin"
            android:screenOrientation="portrait" />
        <activity android:name=".StudentMain"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".AdminEntry"
            android:screenOrientation="portrait"/>
        <activity android:name=".FacultyEntry"
            android:screenOrientation="portrait"/>
        <activity android:name=".AdminRegistration"
            android:screenOrientation="portrait"/>
        <activity android:name=".AdminLogin"
            android:screenOrientation="portrait"/>
        <activity android:name=".AdminMain"
            android:screenOrientation="portrait"/>
        <activity android:name=".FacultyRegistration"
            android:screenOrientation="portrait"/>
        <activity android:name=".FacultyLogin"
            android:screenOrientation="portrait"/>
        <activity android:name=".FacultyMain"
            android:screenOrientation="portrait"/>
        <activity android:name=".home"
            android:screenOrientation="portrait"/>
        <activity android:name=".openpdf"
            android:screenOrientation="portrait"/>
        <activity android:name=".retriveactivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".create"
            android:screenOrientation="portrait"/>
        <activity android:name=".view"
            android:screenOrientation="portrait"/>
        <activity android:name=".timetableyear"
            android:screenOrientation="portrait"/>
        <activity android:name=".TimeTableWeek"
            android:screenOrientation="portrait"/>
        <activity android:name=".TimeTableLecture"
            android:screenOrientation="portrait"/>
        <activity android:name=".TimeTableSection"
            android:screenOrientation="portrait"/>
        <activity android:name=".FrontPage"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>